/Animedata/bin/Release
/Animedata/bin/x86
/Animedata/bin/Debug
/Animedata/bin/*
bin
/_UpgradeReport_Files
/Animedata/obj
/Backup
/Animedata.v11.suo
/version.txt
/Ticket
/Animedata.suo
/.vs/Animedata/v14
/Animedata/Main/MainForm.resx
